/* @media (min-width: 360px) {
  .main {
    width: 1200px;
  }
  .main-content {
  }
} */

body {
  font-family: "Montserrat", sans-serif;
  background-color: #f5f7fa;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
}

/* Main styles */

.main {
  display: grid;
  grid-template-columns: 370px auto;
  margin: 0 auto;
  width: 1200px;
}

.main-content {
  background-color: #fff;
  box-shadow: 6px 6px 20px rgb(0 0 0 / 10%);
  padding: 105px 90px;
}

.about-user {
  margin-bottom: 40px;
  color: #000;
}

.about-user h1 {
  font-weight: bold;
  font-size: 45px;
  margin-bottom: 25px;
  line-height: 55px;
}
.about-user h2 {
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  margin-bottom: 20px;
}
.about-user p {
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  width: 500px;
  text-align: justify;
}

/* Projects styles */

.title {
  font-size: 22px;
  font-weight: bold;
  line-height: 27px;
  margin-bottom: 10px;
  color: #000;
}

.projects {
  margin-bottom: 50px;
}

.project-item,
.project-bracket {
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
}

.projects ol {
  padding-left: 15px;
}

.project,
.project-item a {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  text-decoration: none;
  padding-left: 5px;
}

.projects a:hover {
  text-decoration: underline;
}

/* Work styles */

.work {
  margin-bottom: 45px;
}

.work h4,
.education h4 {
  margin: 0;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
  margin-bottom: 10px;
}

.company-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.work p {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  color: #a8a8a8;
  margin-bottom: 10px;
}

.work ul {
  padding: 10px;
}

.work li {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
/* Education styles */

.education {
  margin-bottom: 45px;
}

.education-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
}

.certificates img {
  width: 300px;
  padding: 5px;
}

.certificates img:hover {
  transform: scale(2);
}

/* Sidebar style */

.sidebar {
  grid-column: 1;
  grid-row: 1;
  background-color: #1e2939;
  padding-top: 40px;
}

.photo {
  display: block;
  margin: 0 auto 50px;
  border-radius: 50%;
  width: 200px;
}

.about,
.contacts,
.tech-skills,
.soft-skills {
  line-height: 24px;
  padding-left: 40px;
  color: #fff;
}

.contact-type {
  color: #fff;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  margin-right: 5px;
}

.about {
  margin-bottom: 50px;
}

.contacts {
  margin-bottom: 50px;
}

.tech-skills {
  margin-bottom: 45px;
}

.contact-link {
  color: #565e6a;
  line-height: 24px;
}

.sidebar-title {
  color: #fff;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  margin-bottom: 10px;
}

.tech-skills-list span,
.soft-skills-list span {
  padding: 0;
  color: #fff;
  line-height: 24px;
}

.tech-skills-item,
.soft-skills-item {
  padding-left: 5px;
  color: #fb6d3a;
}

.soft-skills ul,
.tech-skills ul {
  padding: 0;
  margin: 15px;
}
